* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;

  padding: 0;
  padding-top: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading-field {
  height: 60px;
  padding-top: 30px;
}
.nawbar__body {
  display: flex;
  height: 50px;
  background-color: lightgray;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: right;
  border-radius: 15px;
  margin-bottom: 15px;
 
}


.nawbar__btn{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 15px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
}


.nawbar__btn-favourite {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 15px;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(105, 76, 76);
  color: antiquewhite;

  cursor: pointer;
  
}
  
  

  
  #hover{
    transition: all .5s;
  }


.nawbar__btn:hover{
  border-radius: 15px;
  background-color: rgb(105, 76, 76);
  color: antiquewhite;
  cursor: pointer;
  
}

.nawbar__btn #heart{
  margin-left: 10px;
  transition: all .5Cs;
  
}
.nawbar__btn:hover #heart{
  color: antiquewhite !important;

}
.nawbar__view{
  width: 120px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  cursor: pointer;

}

 .nawbar__view__btn{
  margin-right: 1em;
  transition: all .2s;
  cursor: pointer;

 }
.nawbar__view__btn:hover{
  color:   rgb(105, 76, 76);
}

.input__contanier{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.input__input{
  height: 40px;
  width: 30rem;
  font-size: 15px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.btn{
  height: 40px;
  width: 80px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s;

}
  
#grid.videoCard {
  flex: 0.4;
  border-radius: 15px;
  background-color: gray;
  margin-bottom: 20px;
  width:  270px;
}

#list.videoCard {
  padding-right: 40px;
  padding-left: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: gray;
  width:  100%;
}

.videoCard__thumbnail {
  flex: .1;
  cursor: pointer;
  transition: all .5s;
}
#grid.videoCard__thumbnail:hover {
  transform: translate(-4.5%, -4.5%);
  height: 176px;
  width: 275px;
}

#grid.videoCard__thumbnail {
  height: 160px;
  width: 250px;
  display: flex;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;

}


#list.videoCard__thumbnail {
  flex: .2;
  border-radius: 15px;
  margin: 5px;
  height: 140px;
  width: 190px;
}

#list.videoCard__thumbnail:hover {
  transform: translate(1%, -1%);
  height: 154px;
  width: 209px;
}
#trash.btn:hover{
  color:rgb(76, 158, 65) !important;
}

#heart.btn:hover{
  color: crimson !important;
}

#grid.videoCard__action {
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
  border-radius: 15px;
}


#list.videoCard__action{
  flex: 0.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120x;
  justify-content: space-around;
  
}


#grid.videoCard__text {
  margin-left: 1px;
  height: 180px ;
  top: 25px;
}

#list.videoCard__text{
 display: flex;
 flex: 0.6;
 justify-content: space-between;
 width: 70%;
 white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#grid.videoCard__text > h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
  font-size: 16px;
  height: 35px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 
  
}

#grid.videoCard__text > p {
  justify-content: flex-start;
  padding: 5px;
  padding-top:5px ;
  font-size: 14px;
}

.pageVideo{
  flex: 0.9;
  background-color: #f9f9f9;
  padding: 20px 20px;
  border-radius: 15px;
} 

.pageVideo > h2 {
  margin-left:5px ;
  margin-bottom: 20px;
}

 #grid.pageVideos__videos {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn__fav{
  height: 40px;
  width: 100px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}




.paginate {
  
  display: flex;
   justify-content: center;
  text-align: center;
  align-items: center;

 
}
.page_item{
  font-size: 32px;
  display: flex;
  justify-content:end;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  align-items: center;
  border-right: .1px solid gray;
  border-left: .1px solid gray;
  cursor: pointer;

}

.page_item:hover{
  background-color: rgb(105, 76, 76);
  color: antiquewhite;
}

.modal{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}


.filterNav__body{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size:  1em;
}

.filterNav__action {
  display: flex;
  flex: 0.8;
  justify-content: left;
  margin-left:5px ;
}

.filterNav__view{
  display: flex;
  flex: 0.1;
  justify-content: left;
  
 
  
}



.filter__view__left{
  display: flex;
  flex: 1;
  justify-content: right;
  text-align: center;
  align-items: center;
}

.nawbar__select {
  border: none;
  width: 80px;
  cursor: pointer;
}

.options {
font-size: medium;
color: blueviolet;
cursor: pointer;
}

.react-player {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.MODAL_STYLES {
  display: flex;
  width: 860px;
  height: 640px;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgrey;
  padding: 15px;
  border-radius: 15px;
  z-index: 1000;
}

.OVERLAY_STYLES {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1000
}


.modal_btn {
  font-size: 24px;
  width: 32px;
  height: 32px;
  border: none;
  margin-bottom: 5px;
  background-color: lightgray;
  cursor: pointer;
 
}

.modal_btn:hover {
  color: antiquewhite;
  border-radius: 50%;
background-color: darkgrey;
}