* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Josefin Sans', sans-serif;

}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* padding-top: 25px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Dark);
}



:root {
  /* Colors */
  --White:  rgba(242, 242, 242, 1);
  --Dark: rgba(38, 38, 38, 1);
  --Green1: rgba(135, 140, 2, 1);
  --Green2:  rgba(242, 234, 118, 1);
  --Green3: rgba(89, 86, 43, 1);

}










.loading-field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  /* padding-top: 30px; */
}
/* .nawbar__body {
  display: flex;
  height: 50px;
  background-color: var(--Green1);
  padding-left: 15px;
  padding-right: 15px;
  justify-content: right;
  border-radius: 15px;
  margin-bottom: 15px;
 
} */



/* .nawbar__btn{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 15px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
} */


.nawbar__btn-favourite {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 15px;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--Green3);
  color: antiquewhite;

  cursor: pointer;
  
}
  
  

  
  #hover{
    transition: all .5s;
  }


/* .nawbar__btn:hover{
  border-radius: 15px;
  background-color: var(--Green3);
  color: var(--White);
  cursor: pointer;
  
} */

.nawbar__btn #heart{
  margin-left: 10px;
  transition: all .5Cs;
  
}
.nawbar__btn:hover #heart{
  color: var(--White) !important;

}
.nawbar__view{
  width: 120px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  cursor: pointer;

}

 .nawbar__view__btn{
  margin-right: 1em;
  transition: all .2s;
  cursor: pointer;

 }
.nawbar__view__btn:hover{
  color:   rgb(105, 76, 76);
}

/* .input__contanier{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
} */
/* .input__input{
  height: 40px;
  width: 30rem;
  font-size: 15px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
} */

 /* .btn{
  height: 40px;
  width: 80px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s;
 

}  */
  
/* #grid.videoCard {
  flex: 0.4;
  border-radius: 15px;
  background-color: var(--Green1);
  margin-bottom: 20px;
  width:  270px;
}

#list.videoCard {
  padding-right: 40px;
  padding-left: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: var(--Green1);
  width:  100%;
} */

/* .videoCard__thumbnail {
  flex: .1;
  cursor: pointer;
  transition: all .5s;
} */
/* #grid.videoCard__thumbnail:hover {
  transform: translate(-4.5%, -4.5%);
  height: 176px;
  width: 275px;
} */

/* #grid.videoCard__thumbnail {
  height: 160px;
  width: 250px;
  display: flex;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;

} */


/* #list.videoCard__thumbnail {
  flex: .2;
  border-radius: 15px;
  margin: 5px;
  height: 140px;
  width: 190px;
} */

/* #list.videoCard__thumbnail:hover {
  transform: translate(1%, -1%);
  height: 154px;
  width: 209px;
} */
/* #trash.btn:hover{
  border-radius: 10px;
  background: #888C03;
box-shadow:  -5px -5px 6px #363801,
             5px 5px 6px #dae005;
  /* color:var(--Green2) !important; */
/* 

#heart.btn:hover{
  color: crimson !important;
} */ */

/* #grid.videoCard__action {
  display: flex;
  justify-content: space-between;
  background-color: var(--Green2);
  border-radius: 15px;
} */


/* #list.videoCard__action{
  flex: 0.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120x;
  justify-content: space-around;
  
} */


/* #grid.videoCard__text {
  margin-left: 1px;
  height: 180px ;
  top: 25px;
}

#list.videoCard__text{
  display: flex;
  flex: 0.6;
  justify-content: space-between;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* #grid.videoCard__text > h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
  font-size: 16px;
  height: 35px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 
  
} */

/* #grid.videoCard__text > p {
  justify-content: flex-start;
  padding: 5px;
  padding-top:5px ;
  font-size: 14px;
} */

/* .pageVideo{
  flex: 0.9;
  background-color: var(--Dark);
  padding: 20px 20px;
  border-radius: 15px;
}  */

.pageVideo > h2 {
  margin-left:5px ;
  margin-bottom: 20px;
}

 /* #grid.pageVideos__videos {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} */

.btn__fav{
  height: 40px;
  width: 100px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}




/* .paginate {
  
  display: flex;
   justify-content: center;
  text-align: center;
  align-items: center;

 
} */
.page_item{
  font-size: 32px;
  display: flex;
  justify-content:end;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  align-items: center;
  border-right: .1px solid var(--Green3);
  border-left: .1px solid var(--Green3);
  cursor: pointer;

}

.page_item:hover{
  background-color: var(--Green2);
  color: antiquewhite;
}

.modal{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}


/* .filterNav__body{
  background-color: var(--Green1);
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size:  1em;
} */



/* .filterNav__action {
  display: flex;
  flex: 0.2;
  justify-content: left;
  margin-left:250px ;
} */

.filterNav__view{
  display: flex;
  flex: 0.1;
  justify-content: left;
  
 
  
}



.filter__view__left{
  display: flex;
  flex: 1;
  justify-content: right;
  text-align: center;
  align-items: center;
}

.nawbar__select {
  border: none;
  width: 80px;
  cursor: pointer;
}

/* .options {
font-size: medium;
color: blueviolet;
cursor: pointer;
} */

.react-player {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.MODAL_STYLES {
  display: flex;
  width: 860px;
  height: 640px;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgrey;
  padding: 15px;
  border-radius: 15px;
  z-index: 1000;
}

.OVERLAY_STYLES {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1000
}


.modal_btn {
  font-size: 24px;
  width: 32px;
  height: 32px;
  border: none;
  margin-bottom: 5px;
  background-color: lightgray;
  cursor: pointer;
 
}

.modal_btn:hover {
  color: antiquewhite;
  border-radius: 50%;
background-color: darkgrey;
}
/* Color Theme Swatches in Hex */
.Kouros-Maghsoudi-|-UI-UX-Design-1-hex { color: #888C03; }
.Kouros-Maghsoudi-|-UI-UX-Design-2-hex { color: #F2EA77; }
.Kouros-Maghsoudi-|-UI-UX-Design-3-hex { color: #59562C; }
.Kouros-Maghsoudi-|-UI-UX-Design-4-hex { color: #F2F2F2; }
.Kouros-Maghsoudi-|-UI-UX-Design-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.Kouros-Maghsoudi-|-UI-UX-Design-1-rgba { color: rgba(135, 140, 2, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-2-rgba { color: rgba(242, 234, 118, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-3-rgba { color: rgba(89, 86, 43, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-4-rgba { color: rgba(242, 242, 242, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.Kouros-Maghsoudi-|-UI-UX-Design-1-hsla { color: hsla(61, 96, 28, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-2-hsla { color: hsla(56, 82, 70, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-3-hsla { color: hsla(56, 34, 26, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-4-hsla { color: hsla(0, 0, 95, 1); }
.Kouros-Maghsoudi-|-UI-UX-Design-5-hsla { color: hsla(0, 0, 15, 1); }


/* From uiverse.io by @mrhyddenn */
.loader {
  width: 3em;
  height: 3em;
  font-size: 8px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}